<%= simple_form_for @new_word, remote: true, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="error"><%= (@new_word.errors[:word_name] + @new_word.errors[:word_id]).first  %></div>
  <%= f.input :word_name %>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
