<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class="">
  <% @words.each do |word| %>
    <div>
      <div><%= word.content %></div>
      <div><%= text_field_tag :name %></div>
    </div>
  <% end %>
</div>

<% content_for :footer do -%>
<script>
$(function(){
  // alert(location.hash);
});
</script>
<% end -%>
