<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @word_category.name %>
</p>

<%= link_to 'Edit', edit_word_category_path(@word_category) %> |
<%= link_to 'Back', word_categories_path %>
